@page "/pages/results"

<div class="m-2">
    <table class="table table-striped table-bordered">
        <thead>
            <tr class="bg-primary text-white text-center">
                <th colspan="2">Form Data</th>
            </tr>
        </thead>
        <tbody>
            @foreach(string s in TempData.Keys)
            {
                <tr>
                    <th>@s</th>
                    <th>@TempData[s]</th>
                </tr>
            }
        </tbody>
    </table>
    <a class="btn btn-primary" asp-page="FormHandler">Return</a>
</div> 
